.block_1 {
	display: flex;
	background: #709dca;
	height: 590px;
	justify-content: center;

		h1 {
			font-size: 35px;
			color: white;
			margin-top: 110px;
			margin-bottom: 5px;
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			font-weight: bolder;
		}
		p {
			font-size: 16px;
			color: white;
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			font-weight: lighter;
	}
		form {
			display: flex;
			justify-content: center;
			input {
				width: 280px;
				height: 45px;
				margin: 30px 10px 0 0;
				border-radius: 3px;
				padding-left: 10px;
				font-family: 'Open Sans', sans-serif;
			}
			button {
				height: 45px;
				align-self: flex-end;
			}
		}
		.slider_wrapper{
			flex-direction : column;
			margin-top: 65px;
			display: flex;
			justify-content: center;
			.slider_img{
				display: flex;
				justify-content: center;
				width: 1950px;
				position: relative;
				left: 0;
				transition: all ease 1s;
				img {
					margin-left: 2px;
				}
			}
			.slider_toggle {
				display: flex;
				justify-content: center;
				.toggle {
				}
			}
		}
}


.active {
	border: 2px solid #1ca8dd;
	margin: 24px 10px 0 0;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	transition: 0.5s;
}


.no_active {
	border: 2px solid #dedfe0;
	margin: 24px 10px 0 0;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	transition: 0.5s;
}


.slider {
	width: 650px;
	overflow: hidden;
	margin-left: 251px;
}